extends layout.pug 

block content 
    div.container

        if !statInfo
            a.btn.btn--primary(href='/wallets/create') Create a wallet
            p First create a wallet, then you can see your statistics

            section.stats
                div.stat
                    p.stat__info No Wallet
                div.stat
                    p.stat__info Total Period Change
                    p.stat__money 0.00 USD
                div.stat
                    p.stat__info Total Period Expenses
                    p.stat__money 0.00 USD
                div.stat
                    p.stat__info Total Period Income
                    p.stat__money 0.00 USD
        else
            a.btn.btn--primary(href='/transactions/create') + Add transaction

            section.stats
                div.stat
                    p.stat__info Current Wallet Balance
                    if statInfo.isBalancePositive
                        p.stat__money.plus #{statInfo.walletBalance}
                    else
                        p.stat__money.minus #{statInfo.walletBalance}
                div.stat
                    p.stat__info Total Period Change
                    if statInfo.isPeriodPositive
                        p.stat__money.plus #{statInfo.periodChange}
                    else
                        p.stat__money.minus #{statInfo.periodChange}
                div.stat
                    p.stat__info Total Period Expenses
                    p.stat__money.minus #{statInfo.periodExpense}
                div.stat
                    p.stat__info Total Period Income
                    p.stat__money.plus #{statInfo.periodIncomes}

            section.diagrams
                div.diagram
                    h3.diagram__title Incomes Chart
                    div.diagram__chart#incomeChart

                div.diagram
                    h3.diagram__title Expenses Chart
                    div.diagram__chart#expenseChart


        p.requirement This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service


















    script.
        fetch(`/transactions/incomes`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(res => res.json())
        .then(chartData => {
            console.log(chartData)
            let chartDom = document.getElementById('incomeChart');
            let myChart = echarts.init(chartDom);
            let option;

            option = {
                color: chartData.colors,
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '5%',
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2
                        },
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 40,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: chartData.values
                    }
                ]
            };

            option && myChart.setOption(option);

        })



    script.
        fetch(`/transactions/expenses`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(res => res.json())
        .then(chartData => {
            console.log(chartData)
            let chartDom = document.getElementById('expenseChart');
            let myChart = echarts.init(chartDom);
            let option;

            option = {
                color: chartData.colors,
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '5%',
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2
                        },
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 40,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: chartData.values
                    }
                ]
            };

            option && myChart.setOption(option);

        })
